html, body{
  height: 100%;
}

.card-style{
  margin-top: 30%;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.4) !important;
}

.container{
height: 100%;
align-content: center;
}

body{
    background: url("../images/siteimages/background.jpeg") no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     height: 100%;
     overflow: hidden;
}
